
<section
  *ngIf="mostRecent"
  class="hero relative h-screen lg:h-[75vh]"
>
  <!-- BG-BLUR -->
  <img
    *ngIf="mostRecent"
    [src]="'public/blur/' + mostRecent.img + '.jpg'"
    class="absolute top-0 left-0 w-screen h-screen object-cover opacity-30"
    style="mask-image: linear-gradient(to bottom, black 50%, transparent)"
  />

  <!-- AUTOCOMPLETION INPUT -->
  <article *ngIf="games" class="absolute top-5 px-3 w-full max-w-2xl">
    <!-- HACK: option value is game.name instead of reliable game.id due to better UX -->
    <input
      type="search"
      list="games"
      placeholder="Search for games..."
      class="input input-bordered w-full rounded-full"
      (change)="onGameSelected($event)" />
    <datalist id="games">
      <option *ngFor="let gameItem of games" [value]="gameItem.name">
        {{ gameItem.name }}
      </option>
    </datalist>
  </article>

  <div class="container p-4 grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8">
    <!-- RECENT IMAGE -->
    <article class="card relative cursor-pointer group overflow-hidden">
      <img
        class="object-cover rounded-lg transition duration-500 hover:scale-105"
        [src]="'public/banner/' + mostRecent.img + '.jpg'"
        alt="{{ mostRecent.name }}"
        width="1280"
        height="720"
      />
    </article>
    <!-- RECENT DETAILS -->
    <article class="z-10">
      <div class="badge badge-outline mb-2">Most Recently Completed</div>
      <h1>{{ mostRecent.name }}</h1>
      <p class="text-lg font-bold">{{ mostRecent.year }}</p>
      <div *ngIf="starRating" class="rating flex items-center">
        <p class="text-xl my-0 font-bold pe-4">Rating:</p>
        <input type="radio" name="rating-1" class="mask mask-star-2 bg-orange-400" [checked]="starRating >= 1" disabled />
        <input type="radio" name="rating-1" class="mask mask-star-2 bg-orange-400" [checked]="starRating >= 2" disabled />
        <input type="radio" name="rating-1" class="mask mask-star-2 bg-orange-400" [checked]="starRating >= 3" disabled />
        <input type="radio" name="rating-1" class="mask mask-star-2 bg-orange-400" [checked]="starRating >= 4" disabled />
        <input type="radio" name="rating-1" class="mask mask-star-2 bg-orange-400" [checked]="starRating >= 5" disabled />
        <p class="text-xl my-0 font-bold pe-4"></p>
      </div>
      <p class="sm:text-lg max-w-2xl my-4 text-justify line-clamp-5">
        {{ mostRecent.description }}
      </p>
      <button
        type="button"
        (click)="viewDetails(mostRecent)"
        class="btn btn-primary">
        View More Details
      </button>
    </article>
  </div>
</section>
