<section class="hero overflow-hidden h-[80vh]">
  <!--
  <video class="overflow-hidden object-cover" autoplay muted loop id="myVideo">
    <source src="/public/video/hero.mp4" type="video/mp4">
  </video>
  -->

  <div class="container">
    <h1 class="ms-[-5px] text-8xl font-extrabold">Greetings</h1>
    <p class="text-3xl font-bold">Fellow Traveller</p>
    <p class="text-lg max-w-2xl py-6 text-justify">
      Feel free to browse through my collection of PC games those I have
      conquered and those I’ve journeyed through. Simply scroll down to explore
      them all, and select a Game Card to uncover more secrets. Good fortune on
      your quest!
    </p>

    <article *ngIf="games">
      <!-- AUTOCOMPLETION INPUT -->
      <!-- HACK: option value is game.name instead of reliable game.id due to better UX -->
      <input
        type="search"
        list="games"
        placeholder="Search for games..."
        class="input input-bordered input-success w-full max-w-sm"
        (change)="onGameSelected($event)"
      />
      <datalist id="games">
        <option *ngFor="let gameItem of games" [value]="gameItem.name">
          {{ gameItem.name }}
        </option>
      </datalist>
    </article>
  </div>
</section>
