<section id="recentlyPlayed">
  <h2>Recently Played</h2>
  <div
    class="w-fit mx-auto grid grid-cols-1 md:grid-cols-2 gap-4"
  >
    <article
      *ngFor="let game of recentlyPlayed"
      class="w-fit relative"
      (click)="viewDetails(game)"
    >
      <img
        class="h-auto"
        loading="lazy"
        [src]="'public/banner/' + game.img + '.jpg'"
        alt="{{ game.name }}"
      />
      <div class="absolute ps-3 bottom-0">
        <h2>{{ game.name }}</h2>
        <p>{{ game.year }}</p>
      </div>
    </article>
  </div>
</section>
