.card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 45rem;
  border: 0.1rem solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding-left: 16px;
}
