<section id="gameCards" class="p-2 sm:p-8" class="container mx-auto pb-8 px-2">
  <h2 class="font-black my-8">More Games</h2>
  <div class="min-h-screen grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 md:gap-4 lg:gap-8">
    <!-- remainingGames to filteredGames -->
    <article
      *ngFor="let game of filteredGames"
      class="card relative cursor-pointer overflow-hidden sm:rounded-xl"
      (click)="viewDetails(game)"
      (keydown.enter)="viewDetails(game)"
      (keydown.space)="viewDetails(game)"
      tabindex="0"
      role="button"
    >
      <p class="absolute text-serial text-gray-300 font-black m-2 z-10">{{ game.id }}</p>
      <img
        class="transition duration-300 hover:scale-105"
        loading="lazy"
        [ngSrc]="'public/cover/' + game.img + '.jpg'"
        width="294"
        height="382"
        alt="{{ game.name }}"
      />
    </article>
  </div>

  <!-- TOGGLE CENSORSHIP BUTTON AT THE END -->
  <div
    class="px-6 py-2 mt-12 rounded-lg flex flex-col gap-4 lg:flex-row lg:justify-between items-center border-x-4"
    [ngClass]="isCensored ? 'border-success bg-green-950' : 'border-error bg-red-950'"
  >
    <h3 class="font-bold">
      Content Filter is
      <span [ngClass]="isCensored ? 'text-success' : 'text-error'">
      {{ isCensored ? 'Active' : 'Inactive' }}
      </span>
    </h3>
    <p class="text-sm my-0 opacity-70">{{ isCensored ? 'NSFW/Mature themes are currently filtered' : 'Unsafe content is currently visible' }}</p>
    <button
      (click)="toggleCensorship()"
      [ngClass]="isCensored ? 'btn btn-outline btn-warning' : 'btn btn-outline btn-error'"
    >
      {{ isCensored ? '⚠️ &nbsp; Show Unsafe Content' : '🔴 &nbsp; Hide Unsafe Content' }}
    </button>
  </div>
</section>
