/* For using PrimeNG and TailwindCSS together */
/* solution from PrimeNG Docs does not work */
/* manually importing css like this does */
@import "tailwindcss/base.css" layer(tailwindcss);
@import "tailwindcss/components.css" layer(tailwindcss);
@import "tailwindcss/utilities.css" layer(tailwindcss);

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* ▀█▀ █░█ █▀▀ █▀▄▀█ █▀▀ █▀ */
/* ░█░ █▀█ ██▄ █░▀░█ ██▄ ▄█ */

:root {
  --foreground: #1a1a1a;
  --background: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e6e6e6;
    --background: #1a1a1a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* ▀█▀ ▄▀█ █▀▀ █▀ */
/* ░█░ █▀█ █▄█ ▄█ */

section {
  @apply mb-8;
}
h1 {
  @apply text-5xl font-extrabold dark:text-white;
}
h2 {
  @apply text-4xl font-bold dark:text-white;
}
h3 {
  @apply text-3xl font-bold dark:text-white;
}
h4 {
  @apply text-2xl font-bold dark:text-white;
}
h5 {
  @apply text-xl font-bold dark:text-white;
}
h6 {
  @apply text-lg font-bold dark:text-white;
}
p {
  @apply mb-3 text-gray-500 dark:text-gray-400;
}
